<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(days=="Saturday"||days=="Sunday") { %>
<h1 style="color:orange"><%= days %> jing</h1>
    <%} else {%>

        <h1 style="color:blue"><%= days %></h1>

    <%}%>


<ul>
    <li>sleep</li>
    <li>eat</li>
    <li>workput</li>
    <% for(let i=0;i<items.length;i++){%>
        <li> <%= items[i] %> </li>
    <%}%>
    
</ul>

<form action="/" method="post">
    <input type="text" id="text" name="text1" placeholder="add something to the list">
    <input type="submit" value="add to list">
</form>

</body>
</html>